<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite - OrangeHRM Automation" verbose="1" parallel="false">

    <test name="Cucumber Test Execution">
        <classes>
            <class name="ar.com.sosa.orangehrm.runner.TestRunner"/>
        </classes>
    </test>

</suite>